<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.example.weezn.remember"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
           android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".NewEvent.NewEventActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:label="@string/new_event">
        </activity>


        <activity android:name=".Event.DataAndTimeActivity"
                  android:theme="@style/Theme.AppCompat.NoActionBar">

        </activity>

        <activity android:name=".Event.AdressActivity"
                  android:theme="@style/Theme.AppCompat.NoActionBar">

        </activity>

        <activity android:name=".Event.ThingActivity"
                  android:theme="@style/Theme.AppCompat.NoActionBar">

        </activity>
        <!--<activity android:name=".Event.CityListActivity"-->
            <!--android:theme="@style/Animation.AppCompat.Dialog">-->

        <!--</activity>-->

        <service android:name=".Event.Location_service"/>

        <!-- 定义一个broadcaReceiver接受系统开机广播-->

        <receiver
            android:name=".Desk.DeskTopApp"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>

            </intent-filter>

            <meta-data
                android:name="android.appwidget.AppWidgetProvider"
                android:resource="@xml/appwidge_provider">
            </meta-data>

        </receiver>
        <!--启用高德地图服务-->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="19fdc7b778f0b226ad42ab8f0ae8ae77"/>

    </application>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.access_wifi_state"/>
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION"/>
    <uses-permission android:name="android.permission.write_settings"/>

   <uses-permission android:name="android.permission.MOUNT_FORMAT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>


</manifest>
