<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.example.weezn.remember"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".NewEvent.NewEventActivity"
            android:label="@string/new_event">


        </activity>

        <activity android:name=".NewEvent.DataActivity"
            >

        </activity>

        <activity android:name=".NewEvent.AddressActivity">

        </activity>

        <activity android:name=".NewEvent.EventActivity">

        </activity>

        <receiver
            android:name=".Desk.DeskTopApp"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>

            </intent-filter>

            <meta-data
                android:name="android.appwidget.AppWidgetProvider"
                android:resource="@xml/appwidge_provider">
            </meta-data>

        </receiver>

    </application>

</manifest>
